<footer>
    <div class="container d-flex flex-column justify-content-center  footer">
        <div class="developed-by">
            <p>ANPR is a technological tool which is used in providing assistance to the enforcement of the law as well ensuring the continued safety of all road users. ANPR is supporting the safety and security of citizens throughout the world and is evolving to enhance the effective transport flow of people in real time.</p>
        </div>

    </div>
</footer>

<!--JS related to Bootstrap-->
        {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  {% endcomment %}

